        </div>
    </div>

    <div class="footer">
        <div class="content has-text-centered">
            @if (APP_DEBUG):
                <p><code>{{ round((microtime(true) - $_SERVER['REQUEST_TIME_FLOAT']) * 1000, 1) }} ms - {{ Database::queryCount() }} queries</code></p>
            @endif
            <p>Made by <a href="https://bastiaan.ml/" target="_blank" rel="noreferrer">Bastiaan van der Plaat</a></p>
        </div>
    </div>

    <script src="/script.js"></script>
</body>
</html>
