@view('layout.header', [ 'title' => 'Home' ])

@if (Auth::check()):
    <div class="content">
        <h1 class="title">Welcome {{ Auth::user()->username }}!</h1>
    </div>
@else:
    <div class="content">
        <h1 class="title">Welcome to Battle of Teripa</h1>
        <p>Battle of Teripa is a massive online strategy game!</p>

        <p>Login or register to play this game:</p>
        <div class="buttons">
            <a class="button is-link" href="/auth/login">Login</a>
            <a class="button" href="/auth/register">Register</a>
        </div>
    </div>
@endif

@view('layout.footer')
